# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
env/
venv/
.venv/

.env

# SQLite Database
db.sqlite3
*.sqlite3

# Logs
logs/
*.log

# VS Code
.vscode/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
